In [37]:
import pandas as pd 
import os 
#libreria para el test chi cuadrado 
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [3]:
df =  pd.read_csv('C:/Users/XMX5634/Documents/Introduccion Ciencia de Datos Aplicada/listings.csv')

Pregunta 1. Si se alquila una habitacion con un puntuaje de revisión entre 80 y 89 puntos, ¿Que porcentajes de las publicaciones, son habitaciones pridadas o casas y apartamentos?

In [24]:
df = df[~df['review_scores_rating'].isnull()]

In [26]:
bins = list(range(int(min(aux['review_scores_rating'])),int(max(aux['review_scores_rating']))+1,10))

df["intervalos"] = pd.cut(aux["review_scores_rating"], bins=bins)


review_scores_rating_counts = aux.groupby("intervalos").agg(frequency=("review_scores_rating", "count"))

C:\Users\XMX5634\AppData\Local\Temp/ipykernel_14984/2489361561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["intervalos"] = pd.cut(aux["review_scores_rating"], bins=bins)

In [27]:
df1 = pd.crosstab(aux['intervalos'], df['room_type'], normalize = 'index')

In [28]:
df1

room_type   Entire home/apt  Hotel room  Private room  Shared room
intervalos
(30, 40]           0.565217    0.000000      0.434783     0.000000
(40, 50]           0.666667    0.000000      0.333333     0.000000
(50, 60]           0.731959    0.000000      0.268041     0.000000
(60, 70]           0.756757    0.000000      0.243243     0.000000
(70, 80]           0.748971    0.006173      0.242798     0.002058
(80, 90]           0.713110    0.011170      0.270429     0.005291
(90, 100]          0.797777    0.005872      0.193690     0.002662

Resultado = el 98%

Pregunta 2. Si se alquila una casa o un apartamento ¿Que porcentaje de las publicaciones en Airbnb poseen un puntuaje entre 80 y 100 puntos de revisión

In [31]:
df2 = pd.crosstab(aux['intervalos'], df['room_type'], normalize = 'columns', margins = True)
df2

room_type   Entire home/apt  Hotel room  Private room  Shared room       All
intervalos
(30, 40]           0.001091    0.000000      0.003216     0.000000  0.001517
(40, 50]           0.000504    0.000000      0.000965     0.000000  0.000594
(50, 60]           0.005960    0.000000      0.008363     0.000000  0.006397
(60, 70]           0.004701    0.000000      0.005790     0.000000  0.004880
(70, 80]           0.030555    0.030928      0.037954     0.022727  0.032052
(80, 90]           0.101822    0.195876      0.147958     0.204545  0.112181
(90, 100]          0.855368    0.773196      0.795754     0.772727  0.842379

Respuesta: el 95% aprox

¿Existe independencia entre type_room y review_scores?

In [35]:
df3 = pd.crosstab(aux['intervalos'], df['room_type'], margins = True)
df3

room_type   Entire home/apt  Hotel room  Private room  Shared room    All
intervalos
(30, 40]                 13           0            10            0     23
(40, 50]                  6           0             3            0      9
(50, 60]                 71           0            26            0     97
(60, 70]                 56           0            18            0     74
(70, 80]                364           3           118            1    486
(80, 90]               1213          19           460            9   1701
(90, 100]             10190          75          2474           34  12773
All                   11913          97          3109           44  15163

In [38]:
# Establecer los valores del test chi cuadrado
chi, pval, dof, exp = chi2_contingency(df3)

print('p-valor es: ', pval)

#establecer la significancia del test
significancia = 0.05
p = 1 - significancia
#establecer el valor critico 
valor_critico = chi2.ppf(p, dof)
print('chi=%.6f, valor critico=%.6f\n' % (chi, valor_critico))

# segun el valor critico se toma la desición de rechazar o no la hipotesis
if chi > valor_critico:
    print(''' A un %.2f de nivel de significancia, se rechaza la hipotesis nula y se acepta H1.
    no son independientes, por lo tanto no estan correlacionados''' %(significancia))
else:
        print(''' A un %.2f de nivel de significancia, no se rechaza la hipotesis nula y se acepta H1.
    son independientes, no tienen relación''' %(significancia))

p-valor es:  1.2704433507242556e-07
chi=84.777144, valor critico=41.337138

 A un 0.05 de nivel de significancia, se rechaza la hipotesis nula y se acepta H1.
    no son independientes, por lo tanto no estan correlacionados

aunque se realice la prueba chi cuadrado, se puede observar que existen varias celdas con valores minimos y por lo tanto la prueba chi no es confiable, por lo tanto no es posible determinar la independencia entre las dos variables.