In [42]:
import pandas as pd

In [43]:
df =  pd.read_csv('C:/Users/XMX5634/Documents/Introduccion Ciencia de Datos Aplicada/listings.csv')

# 1. ¿Entre que puntajes está a lo mas el 53% de las calificaciones de revisión más bajas de la plataforma?

In [76]:
aux = df[~df['review_scores_rating'].isnull()]
aux = aux[['review_scores_rating']]

In [85]:
#construir una tabla de frecuencias. 
bins = list(range(int(min(aux['review_scores_rating'])),int(max(aux['review_scores_rating']))+1,6))

aux["intervalos"] = pd.cut(aux["review_scores_rating"], bins=bins)


review_scores_rating_counts = (aux
                       .groupby("intervalos")
                       .agg(frequency=("review_scores_rating", "count")))

review_scores_rating_counts['frec_relativa'] = review_scores_rating_counts['frequency'].apply(lambda x: x/review_scores_rating_counts['frequency'].sum())
review_scores_rating_counts['frec_relativa(%)'] = review_scores_rating_counts['frec_relativa'].apply( lambda x: x*100)
review_scores_rating_counts["frec_acumulada"] = review_scores_rating_counts["frequency"].cumsum()
review_scores_rating_counts["frec_acumulada(%)"] = review_scores_rating_counts["frec_acumulada"].apply(lambda x:(x/review_scores_rating_counts['frequency'].sum())*100)

In [86]:
review_scores_rating_counts

,frequency,frec_relativa,frec_relativa(%),frec_acumulada,frec_acumulada(%)
intervalos,,,,,
"(20, 26]",0,0.000000,0.000000,0,0.000000
"(26, 32]",1,0.000104,0.010363,1,0.010363
"(32, 38]",0,0.000000,0.000000,1,0.010363
"(38, 44]",22,0.002280,0.227979,23,0.238342
"(44, 50]",9,0.000933,0.093264,32,0.331606
"(50, 56]",3,0.000311,0.031088,35,0.362694
"(56, 62]",94,0.009741,0.974093,129,1.336788
"(62, 68]",31,0.003212,0.321244,160,1.658031
"(68, 74]",80,0.008290,0.829016,240,2.487047
"(74, 80]",449,0.046528,4.652850,689,7.139896
"(80, 86]",443,0.045907,4.590674,1132,11.730570
"(86, 92]",2037,0.211088,21.108808,3169,32.839378
"(92, 98]",6481,0.671606,67.160622,9650,100.000000

# 2. ¿Cuál es el precio promedio de alquiler de un inmueble qué se situé por encima del 78%?

In [44]:
p = df[ ~(df['price'].isnull()) & (df['price'] != 0) ]

In [18]:
# Tabla de Percentiles 
# Rango Intercuartilico 
percentiles = list(map(lambda x: price['price'].quantile(x/100), list(range(1,101,1))))
percentiles = pd.DataFrame({'Percentil' : list(range(1,101,1)),
                            'Price' : percentiles
                            }

In [36]:
perc_78 = int(percentiles.loc[78,['Price']][0])

In [41]:
price[price['price'] >  perc_78][['price']].mean()

price    305.553209
dtype: float64

# 3. ¿Qué porcentaje de inmuebles en la ciudad se alquilan por debajo del promedio de la ciudad?

In [51]:
promedio = int(p[['price']].mean()[0])
down = p[p['price'] < promedio].shape[0]
up = p[p['price'] > promedio].shape[0]

print('mean down: {}, mean up: {} '.format(down/p.shape[0], up/p.shape[0]))

mean down: 0.6600033690830479, mean up: 0.33898590600258294

# 4. Se desea alquilar un inmueble en la ciudad de Ámsterdam que sea 100 euros más costoso que el promedio distrital, ¿a cuantas desviaciones estaría este inmueble del promedio global?

In [60]:
promedio = p['price'].mean()
desv_estandar = p['price'].std()
promedio_plus_desv = promedio + desv_estandar
promedio_plus_100 = promedio + 100

In [63]:
print(promedio)
print(promedio_plus_desv)
print(promedio_plus_100)

154.6346790948397
308.79688269616054
254.6346790948397

# Conclusiones

El 53% de los puntajes de revisión están entre 20 y 98 puntos, en cuanto a los precios de alquiler a nivel global se posee un promedio de 154 euros y el 66% de las publicaciones se mantienen por debajo de este precio.